<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
            <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="activeModal.dismiss('Cross click')"
            ></button>
        </div>
        <div class="modal-body">{{ message }}</div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-outline-dark"
                (click)="activeModal.close('close')"
            >
                No
            </button>
            <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                aria-label="Close"
                (click)="activeModal.close('delete')"
            >
                Yes
            </button>
        </div>
    </div>
</div>
