.blog-list{
    ul > li.media {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 1rem 0;
        border-bottom: 1px solid #494848;
        cursor: pointer;

        &-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
        }
    }
}